{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Submit Deposit {% endblock %} 

{% block stylesheets %}

{% endblock stylesheets %}

  

{% block content %}
<div class="content-wrapper">
    <div class="page-body">
        <div class="container">
            <div class="profile-body">
                <div class="col-md-6 ms-auto me-auto">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group mt-5">
                            <h3>Submit Deposit Information</h3>
                            <hr>
                            {{d_form|crispy}}
                        </fieldset>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success" type="submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}