{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Profile - {{user.get_full_name}} {% endblock %} 

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}  

  <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
        </div>
      </div>
    </section>


    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-left">
                  <img class="profile-user-img img-fluid"
                       src="{{user.profile.image.url}}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-left">
                  {{ user.get_full_name}} (ID: {{user.id}})
                </h3>

                <p class="text-muted text-left">
                  {{ user.email }}
                </p>

                <p class="text-muted text-left">
                  {{user.profile.phone}}
                </p>



                <a href="{% url 'profile-edit' %}" class="btn btn-primary"><i class="fad fa-edit"></i> <b>Edit Information</b></a>
              </div>
            </div>

            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Details of Member</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <strong> Father's Name</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.father_or_husband_name != "NULL" %}
                      {{user.profile.father_or_husband_name}}
                    {% endif %}
                  </div>
                </div>
                
                <hr>

                <div class="row">
                  <div class="col-md-2">
                    <strong> Mother's Name</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.mother_name != "NULL" %}
                      {{user.profile.mother_name}}
                    {% endif %}
                  </div>
                </div>
                
                <hr>

                <div class="row">
                  <div class="col-md-2">
                    <strong> Permanent Address</strong>
                  </div>
                  <div class="col-md-4">
                    Vill: {% if user.profile.per_vill != "NULL" %}
                      {{user.profile.per_vill}}
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    PO: {% if user.profile.per_po != "NULL" %}
                      {{user.profile.per_po}}
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    
                  </div>
                  <div class="col-md-4">
                    PS: {% if user.profile.per_ps != "NULL" %}
                      {{user.profile.per_ps}}
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    Dist: {% if user.profile.per_dist != "NULL" %}
                      {{user.profile.per_dist}}
                    {% endif %}
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-md-2">
                    <strong> Present Address</strong>
                  </div>
                  <div class="col-md-4">
                    Vill: {% if user.profile.pre_vill != "NULL" %}
                      {{user.profile.pre_vill}}
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    PO: {% if user.profile.pre_po != "NULL" %}
                      {{user.profile.pre_po}}
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    
                  </div>
                  <div class="col-md-4">
                    PS: {% if user.profile.pre_ps != "NULL" %}
                      {{user.profile.pre_ps}}
                    {% endif %} 
                  </div>
                  <div class="col-md-4">
                    Dist: {% if user.profile.pre_dist != "NULL" %}
                      {{user.profile.pre_dist}}
                    {% endif %} 
                  </div>
                </div>
                
                <hr>

                <div class="row">
                  <div class="col-md-2">
                    <strong>Date of Birth</strong>
                  </div>
                  <div class="col-md-4">
                    {{user.profile.dob}}
                  </div>
                  <div class="col-md-1">
                    <strong>Age</strong>
                  </div>
                  <div class="col-md-4">
                    {{age}} years
                  </div>
                </div>
                
                <hr>


                <div class="row">
                  <div class="col-md-2">
                    <strong> Blood Group</strong>
                  </div>
                  <div class="col-md-4">
                    B+
                  </div>
                </div>
                
                <hr>

                <div class="row">
                  <div class="col-md-2">
                    <strong>NID No.</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.nid != "NULL" %}
                      {{user.profile.nid}}
                    {% endif %} 
                  </div>
                  <div class="col-md-1">
                    <strong>Passwort No.</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.nid != "NULL" %}
                      {{user.profile.passport}}
                    {% endif %}
                  </div>
                </div>
                
                <hr>


                <div class="row">
                  <div class="col-md-2">
                    <strong> Driving License No.</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.driving_license != "NULL" %}
                      {{user.profile.driving_license}}
                    {% endif %} 
                  </div>
                  <div class="col-md-1">
                    <strong> TIN</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.tin != "NULL" %}
                      {{user.profile.tin}}
                    {% endif %}
                  </div>
                </div>
                
                <hr>               


                <div class="row">
                  <div class="col-md-2">
                    <strong> Profession</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.profession != "NULL" %}
                      {{user.profile.profession}}
                    {% endif %} 
                  </div>
                  <div class="col-md-1">
                    <strong> Religion</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.religion != "NULL" %}
                      {{user.profile.religion}}
                    {% endif %}
                  </div>
                </div>
                


              </div>
            </div>

            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Details of Nominee</h3>
              </div>
              <div class="card-body">
                <div class="text-left">
                  <img class="profile-user-img img-fluid"
                       src="{{user.profile.nominee_image.url}}"
                       alt="Nominee picture">
                </div>
                <hr>


                <div class="row">
                  <div class="col-md-2">
                    <strong> Full Name</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.nominee_name != "NULL" %}
                      {{user.profile.nominee_name}}
                    {% endif %}
                  </div>
                </div>
                
                <hr>   

                <div class="row">
                  <div class="col-md-2">
                    <strong> Father/Husband’s Name</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.nominee_father_or_husband_name != "NULL" %}
                      {{user.profile.nominee_father_or_husband_name}}
                    {% endif %}
                  </div>
                </div>
                
                <hr> 


                <div class="row">
                  <div class="col-md-2">
                    <strong> Mother’s Name</strong>
                  </div>
                  <div class="col-md-4">
                    {% if user.profile.nominee_mother_name != "NULL" %}
                      {{user.profile.nominee_mother_name}}
                    {% endif %}
                  </div>
                </div>
                
                <hr> 

                <div class="row">
                  <div class="col-md-2">
                    <strong> Permanent Address</strong>
                  </div>
                  <div class="col-md-4">
                    Vill: {% if user.profile.nominee_per_vill != "NULL" %}
                      {{user.profile.nominee_per_vill}}
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    PO: {% if user.profile.nominee_per_po != "NULL" %}
                      {{user.profile.nominee_per_po}}
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    
                  </div>
                  <div class="col-md-4">
                    PS: {% if user.profile.nominee_per_ps != "NULL" %}
                      {{user.profile.nominee_per_ps}}
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    Dist: {% if user.profile.nominee_per_dist != "NULL" %}
                      {{user.profile.nominee_per_dist}}
                    {% endif %}
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-md-2">
                    <strong> Present Address</strong>
                  </div>
                  <div class="col-md-4">
                    Vill: {% if user.profile.nominee_pre_vill != "NULL" %}
                      {{user.profile.nominee_pre_vill}}
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    PO: {% if user.profile.nominee_pre_po != "NULL" %}
                      {{user.profile.nominee_pre_po}}
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    
                  </div>
                  <div class="col-md-4">
                    PS: {% if user.profile.nominee_pre_ps != "NULL" %}
                      {{user.profile.nominee_pre_ps}}
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    Dist: {% if user.profile.nominee_pre_dist != "NULL" %}
                      {{user.profile.nominee_pre_dist}}
                    {% endif %}
                  </div>
                </div>
             
                

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>

{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}  
