{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Password Reset {% endblock %} 


{% block stylesheets %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock stylesheets %}

{% block content %}

  <div class="login-box ms-auto me-auto mt-5">

    <div class="login-logo">
      <a class="text-decoration-none" href=""><b>Uttaran</b></a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <div class="row ">
            <div class="activation-text-pass-reset">
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive mail shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the mail address you registered with, and check your spam folder.</p>
            </div>
                    
        </div>

      </div>
    </div>

  </div>

{% endblock content %}

{% block javascripts %}

  <script src="{% static 'vendor/jQuery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock javascripts %}
